* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow: hidden;
}

body {
    font-family: 'Lato', sans-serif;
}

.overlay {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0%;
    left: -50%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: width ease 1s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    overflow: hidden;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 0.5%;
    right: 44%;
    width: 5%;
    
}

.openNav {
    width: 150%;
    height: auto;
    cursor: pointer;
    position: absolute;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}



